:root {
  --aa-base-unit: 18 !important;
  --aa-icon-size: 28px !important;
  --aa-action-icon-size: 28px !important;
  --aa-text-color-rgb: 0, 0, 0 !important;
  --aa-background-color-rgb: 247, 247, 2247 !important;
}
