.banner {
  background-image: url("../assets/consultation-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 52px !important;
  overflow: hidden;
}
