/*
* This un-sets some styles in tailwind/typography for when I really don't want
* list items to display like list items. (Like for the list of translations)
*/
.prose ul.list-none > li {
  padding-left: unset;
}
.prose ul.list-none > li::before {
  content: unset;
}

.dark .prose ol > li::before,
.dark .prose ul > li::before {
  color: var(--color-gray-300);
}

/* I think this is a bug in the tailwind/typography thing */
.dark .dark\:prose-dark thead {
  color: var(--color-gray-400);
}

/* Some styles inherited form addikt-web */


.prose .anchor {
  @apply invisible absolute no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose .anchor:after {
  @apply text-gray-700 dark:text-gray-300;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose blockquote p {
  @apply mx-4 my-0 dark:text-gray-400;
}

.prose blockquote {
  @apply my-1 border-l-4 border-gray-400  pl-2 dark:border-gray-600 italic;
}

.prose .callout {
  @apply bg-[#cedef4]  border-l-4 py-4 pl-4 border-[#a1c1ee] text-secondary rounded;
}

.prose li {
  @apply text-lg;
}
.prose .highlight {
  @apply border-b-4 border-blue-300 border-opacity-50;
}

.prose a {
  @apply underline hover:text-blue-500 text-black dark:text-white;
}

.prose td {
  @apply text-lg;
}